@tailwind base;
@tailwind components;
@tailwind utilities;

.font-gilmer {
  font-family: "Gilmer-Regular";
}

.font-gilmer-bold {
  font-family: "Gilmer-Bold";
}

.font-gilmer-medium {
  font-family: "Gilmer-Medium";
}

.font-gilmer-heavy {
  font-family: "Gilmer-Heavy";
}

.font-arial {
  font-family: 'Arial';
}

.hero-text-grad {
  font-size: 80px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-logo {
  translate: -50%;
  background: linear-gradient(to left, transparent, #000 30%, #000 70%, transparent);
  cursor: pointer;
}

.loop-text-grad {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.marquee {
  overflow: hidden;
  position: relative;
}

.marquee .inner {
  display: block;
  width: 200%;
  position: absolute;
  top: 30%;
  overflow: hidden;
  animation: marquee 24s linear infinite;
}

.marquee .child {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

/*  */
.item-hints {
  opacity: 0;
}

.item-hints:hover {
  opacity: 100;
}

.clicked-state {
  opacity: 100 !important;
}

/* Button gradient */
.gradient-box {
  display: flex;
  align-items: center;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  color: #FFF;
  background: #000;
  background-clip: padding-box;
  border: solid 4px transparent;
  border-radius: 12px;
  width: 100%;
}

.gradient-box:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  margin: -4px;
  border-radius: inherit;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.5018382352941176) 0%, rgba(220, 237, 251, 0.4) 32%, rgba(255, 198, 45, 0.4) 64%, rgba(104, 106, 108, 1) 100%);
}

.gradient-box:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: 0px;
  border-radius: 8px;
  background: #000;
}

/* Laser line tooltip */
.item-hints .hint-content {
  color: #fff;
  position: absolute;
  width: fit-content;
  background-color: #907e1c;
  border-color: #fff;
  border-width: 2px;
  border-radius: 5px;
  text-align: center;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
  transition: opacity 0.7s ease, visibility 0.7s ease;
  pointer-events: none;
}

.item-hints .hint-active .hint-content {
  color: #fff;
  position: absolute;
  z-index: 5;
  opacity: 1;
  visibility: visible !important;
  -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
  transition: opacity 0.7s ease, visibility 0.7s ease;
  pointer-events: none;
}

.item-hints .hint-content::before {
  width: 0px;
  bottom: 10px;
  left: -41px;
  content: "";
  background-color: #907e1c;
  height: 3px;
  position: absolute;
  transition: width 0.4s;
}

.item-hints .hint-active .hint-content::before {
  width: 39px;
  transition: width 0.4s;
}

.item-hints .hint-content::after {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
  bottom: 10px;
  left: -40px;
  width: 60px;
  content: "";
  background-color: #907e1c;
  height: 3px;
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.item-hints .hint-active .hint-content::after {
  opacity: 1;
  visibility: visible;
}

.item-hints .hint[data-position="4"] .hint-content {
  bottom: 32px;
  left: 27%;
  margin-left: 80px;
}

/* Magnifying glass */

.magnifier-image {
  cursor: crosshair !important;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #353535; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2b2b2b; 
}